* text=auto eol=lf

*.blade.php text eol=lf diff=html
*.css text eol=lf diff=css
*.html text eol=lf diff=html
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf diff=markdown
*.php text eol=lf diff=php
*.yml text eol=lf
*.yaml text eol=lf

*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.png binary
*.ttf binary
*.woff binary
*.woff2 binary

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
